*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.container{
 position: relative;
  
}
.header{
    position: fixed;
}
.menu img{
    margin-top: 3px;
    height: 40px;
    /* border: 1px solid green; */
}


.social img{
    border-radius: 6px;
    height: 30px;
}
.header{
    height: 60px;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    /* border: 1px solid black; */
    background-color: rgba(227,227,227,255); ;
}

.quick-links{
    display: flex;
    width: 800px;
    /* border: 1px solid green; */
    justify-content: space-around;
    align-items: center;

}
.social img:hover{
    background-color: seagreen;
    box-shadow: 0px 0px 2px black;
   
    
}
.social:hover{
    transform: scale(1.1);
}
.SignUp{
    border: 1px solid green;
    width: 110px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:darkgrey ;
    margin-right: 20px;
}
.SignUp:hover{
    transform: scale(1.1);
}
.text-signup{
    font-size: 25px;
   
}

.txt-more img{
    /* border: 1px solid green; */
    height: 30px;

}
.txt-more{
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 200px;
    height: 50px;
    gap: 10px;
    margin: 0px auto;
}
.txt-more span{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}
.About-Section{

    background-color: rgba(227,227,227,255);
    /* border: 1px solid blue; */
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-top: 55px;z-index: -7;
}

#bg-About{
   max-height: 600px;
    width: 700px;
  position: absolute;
  z-index: -1;
 bottom: 0%;
  right: 0px;
  object-fit: cover;
}
.About{
    height: 600px;
    /* border: 1px solid brown; */
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 700px;
 }
.salutation{
    font-size: 40px;
   /* border: 1px solid brown; */
   text-align: center;
   margin-top: 15%;


}

.name{
    margin-top: 10vh;
    font-size: 60px;
    font-weight: 700;
}
.About-Me{
    
    font-size: larger;
    text-align: center;
    margin-top: 10px;
}
.btn-more{
    margin-top: 40px;
}

.Skills-Section{
    margin-top: 50px;
}
.skill-txt{
    font-size: 55px;
    text-align: center;
}
.list{
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    margin: 20px auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    box-shadow: 0px 0px 8px 2px black;
}
.skill{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.Project-Section{
    margin-top: 100px;
    height: 500px;
    /* border: 1px solid rgb(21, 19, 19); */
    box-shadow: 0px 0px 8px -3px black;
    position: relative;
    overflow-y: hidden;
}
.project{
   
    position: absolute;
    width: 200px;
    height: 300px;
    display: grid;
    grid-template-rows: 65% 25% 10%;
    padding: 15px;
   

}
.project>div{
    border:1px solid black ;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-radius: 7px;
}
.project img{
    height: 160px;
    width: 170px;
    border-radius: 10px;
}

.up-txt{
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
}

#Project1{
    background-image: linear-gradient(orange, red);
    animation-name:translating1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: forwards;
    box-shadow: 0px 0px 8px 2px rgb(193, 94, 94);

}
@keyframes translating1 {
    from{
        left: -200px;
        top:20%;
    }
    to{
        left: 100px;
        top:20%;
    }
}


#Project2{
    background-image: linear-gradient(blue , rgb(140, 0, 255));
    animation-name:translating2;
    animation-duration: 5s;
    animation-timing-function: linear; 
    animation-direction: normal;
    animation-fill-mode: forwards;
    box-shadow: 0px 0px 8px 2px rgb(193, 94, 94);

}
@keyframes translating2 {
    from{
        left: 410px;
    top: -800px;}
    to{
        left: 410px;
        top:20%
        
    }
}




#Project3{
    background-image: linear-gradient(green,rgb(0, 255, 179));
    animation-name:translating3;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: forwards;
    box-shadow: 0px 0px 8px 2px rgb(193, 94, 94);

}
@keyframes translating3 {
    from{
        left: 730px;
       top:800px
    }
    to{
        left: 730px;
        top:20%;
    }
}


#Project4{
    background-image: linear-gradient(rgb(128, 0, 100),rgb(166, 0, 255));
    animation-name:translating4;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: forwards;
    box-shadow: 0px 0px 8px 2px rgb(193, 94, 94);

}
@keyframes translating4 {
    from{
        right: -200px;
        top:20%;
    }
    to{
        right: 100px;
        top:20%;
    }
}


.more{
    color:maroon;
}


.Resume-Section{
    margin: 20px;
   box-shadow: 0px 0px 7px 3px black;
    position: relative;
    height: 450px;
    padding: 30px;
    background-color: azure;
}
.RS-left img{
width: 500px;
height: 398px;
box-shadow: 0px 0px 3px 2px black;
position: absolute;
border-radius: 20px;
}
.RS-right{
  position: absolute;
  top: 20px;
  left:550px;
  right: 30px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
 gap: 30px;
}

.further-txt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    padding: 20px;
    max-height: 295px;
}

.resume-btn{
    display: flex;
    justify-content: space-between;
    width: 400px;
    
}
.resume-dwnld , .hire-btn{
    font-size: 30px;
    font-weight:800px ;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.resume-dwnld{
    background-color: darkgreen;
}
.hire-btn{
    background-color:darkcyan;
}
.top-txt{
    font-size: 30px;
}



.offer{
    margin-top: 20px;
    height: 250px;
    background-image: radial-gradient(circle , white 95%, rgb(162, 87, 87) );
}
.content{
    height: 230px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: darkseagreen;
    box-shadow: 0px 0px 3px darkseagreen;
    
}
.txting{
    font-size: 40px;
    filter: drop-shadow(0px 0px 3px black);
}
.percent_offer{
    font-size: 25px;
    font-family: 'Kalam', cursive;

}
#myresume{
    text-decoration: none;
    color: rgb(94, 175, 175);
}


.contact-us{
    width: 100%;
    padding: 30px;
}
.card{
    background-color: rgb(225, 180, 124);
    height: 600px;
}

.card h2{
    text-align: center;
    font-size: 35px;
}
.row{
    width: 400px;
    margin: 20px auto;
    border: 1px solid  rgb(221, 147, 57);
    height: 500px;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(4, 80px) 50px;
    justify-items: center;
    align-items: center;
}

.form-group{
    font-size: 25px;
}
label{
    margin-right:20px
}

.form-group input{
    height: 30px;
}

.form-group textarea{
    height: 60px;
    width: 200px;
}

#sbt{
    margin-top: 52px;
    height: 40px;
    width: 80px;
    color: coral;
    border: 2px solid rgb(158, 95, 73);
   border-radius: 8px;
   font-size: 17px;
   transition: all .4s;
}

#sbt:hover{
    box-shadow: 0px 0px 10px 2px rgb(158, 95, 73);
    background-color: rgb(119, 222, 124);
    font-weight: 600;
}



  

  
  